$highlightButton: #D4B254;
$highlightButtonHover: #C8A74B;
$highlightButtonShadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
$highlightButtonShadowHover: 0px 2px 5px 0px rgba(0,0,0,0.25);

$titleText: #222222;
$uiMenusIcons: #000000;
$lightUiInactive: #EEEEEE;
$bodyText:#777777;
$successSelected: #86CB19;

$dividerLine:rgba(255,255,255,0.3);
$navLinkHover:rgb(220,220,220);

$hiddenNavBackground:rgba(0,0,0,0.9);
$hiddenLink:rgba(255,255,255,1);


